<main>
  <h2>Datos del Objeto</h2>
  <div class="form-group">
    <label>Tipo de Objeto</label>
    <select class="form-control" id="filtro" name="filtro" type="text" placeholder="Tipo de Objeto *"
      required="required" data-validation-required-message="Por favor ingrese el tipo de objeto.">
      <option>Ropa</option>
      <option>Complementos</option>
      <option>Juguete</option>
      <option>Perfume</option>
      <option>Dinero</option>
      <option>billeteras/Carteras</option>
    </select>
    <p class="help-block text-danger"></p>
  </div>
  <button class=" btn btn-primary my-3 my-sm-0 searchRes" id="filtrar" type="submit">Buscame</button>
  <div class="container">
    <div class="row">
      <div>
        <h1>Objetos Perdidos</h1>
      </div>
      {{#each objetosPerdidos}}
      <div class="col-12">
        <div class="row listado">
          <div class="col-4 ">
            <img src="{{oFoto}}" style="width:100%">
          </div>
          <div class="col-8">
            <div><strong>Tipo:</strong> {{oTipo}}</div>
            <div><strong>Descripción:</strong> {{oDescripcion}}</div>
            <div><strong>Lugar:</strong> {{oLugar}}</div>
            <div><strong>Fecha:</strong> {{oDate}}</div>
            <div class="row align-items-end">
              <div class="col-6">
                <button class="btn btn-primary my-3 my-sm-0 " id="modificar">Modificame</button>
              </div>
              <div class="col-6"> 
                <button class="btn btn-primary my-3 my-sm-0 " id="eliminar">Eliminame</button>
              </div>
            </div>
            <div><span style="font-size:.8em">REF:{{_id}} </span></div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</main>

<script>
  filtrar.onclick=()=>{
    let filtro=document.querySelector('#filtro')
    console.log("Has escrito ",filtro.value)
    fetch('/objetos/filtrar',{
      method:'post',
      body: JSON.stringify({oTipo:filtro.value}),
      headers: {'Content-Type':'application/json'}
    }).then(res=>res.json())
      .then(listado=>mostrarResultados(listado))
  }

  {{!-- function mostrarResultados(listado){
    
    listado.forEach(elem=>{
      //hacemos un bucle del array listado mostrando los objetos.
    })
  } --}}


</script>